<script>
    // Importing Functions for mapping circles and radius
    import { scaleLinear, scaleRadial } from "d3-scale";
    import { arc, radialArea } from "d3-shape";
    import { extent } from "d3-array";
    // Export Section
    export let city;
    export let data = [];
    
    // Setting height and width metrics
    const width = 550;
    const height = 200;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };

    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
  
    // Setting levels of plotted colors (too large range not contained in circle)
    data = data.filter(d => d.city == city);
    const scaled_X = scaleLinear().range([0, 2 * Math.PI]).domain(extent(data, d => d.day_of_year))
    const scaled_Y_h = scaleRadial().range([0, 50]).domain(extent(data, d => d.heating)) 
    const scaled_Y_c = scaleRadial().range([0, 50]).domain(extent(data, d => d.cooling))


    const Cooling = 
        radialArea().angle(d => scaled_X(d.day_of_year)).innerRadius(0).outerRadius(d => scaled_Y_c(d.cooling))
    const Heating = 
        radialArea().angle(d => scaled_X(d.day_of_year)).innerRadius(0).outerRadius(d => scaled_Y_h(d.heating))

</script>


<svg viewBox="10 10 {width/2} {height}" style="max-width: {width/2}px">
    
    <g transform="translate({margin.left}, {margin.top})">

        <g transform="translate({width/6},125)">
            <circle cx={0} cy={0} r={50}></circle>
            <path class='cooling' d={Cooling(data)}  
                  fill="#a4d4ff" 
                  stroke-opacity=.01  
                  fill-opacity=0.8 />
            <path class='heating' d={Heating(data)} 
                  fill="#ff4c00" 
                  stroke-opacity=.01  
                  fill-opacity=0.8/>

            <text class="month" font-size = 20 x = {52} y = 7>3</text> 
			<text class="month"font-size = 20 x = {-62} y = 7>9</text>
			<text class="month" font-size = 20 x = -7 y = {-57} >0</text> 
			<text class="month" font-size = 20 x = -5 y = {65} >6 </text>   

        </g>
    </g>
    <g transform="translate(0,25)">
        <text class="title_city" x="36%" y="5%" font-size = 35 text-anchor="middle">{city} <br/></text>
    </g>
    
</svg>



