<script>
  //export data
  export let town = "Baltimore";
  export let scale = 3;
</script>

<!-- Section for formatting and creating buttons -->
<div class="row">
  <div class="columnleft">
    <label>
      <input type="radio" 
             name="town" 
             value="Baltimore" 
             bind:group={town} /> Baltimore
    </label>

    <br />
    <label>
      <input type="radio" 
             name="town" 
             value="Chicago" 
             bind:group={town} /> Chicago
    </label>
    <br />

    <label>
      <input type="radio" 
             name="town" 
             value="Los Angeles" 
             bind:group={town} /> Los Angeles
    </label>

    <label>
      <input type="radio" 
             name="scale" 
             bind:group={scale} 
             value={1} /> Across: Building Types
    </label>

    <label>
      <input type="radio" 
             name="scale" 
             bind:group={scale} 
             value={0} /> Within: Building Types
    </label>
  </div>
</div>


<style>
  
  .columnleft {
    float: none;
    width: 40%;
    text-align: start;
    position: relative;
  }
  .row {
    margin-top: 2%;
    height: 130px;
    position: relative;
  }
  
</style>
