<script>
  // Information For Importing
  import { scaleLinear } from "d3-scale";
  //Information for Exporting 
  export let y_domain;
  export let data = [];
  // Balance the scale to cooincide with graph labels
  const xScale = 
    scaleLinear().domain([0, 130]).range([0, 130]);
  const yScale = 
    scaleLinear().domain(y_domain).range([0, 160]);

  // Defining Path Function
  function path(d, type, total_idx) {
    let path = "M 0," + 100;
    d.forEach((value, idx) => {
      if (type == "gas") {
        path += " " + xScale(idx) + "," + (100 + yScale(value));
      } else {
        path += " " + xScale(idx) + "," + (100 - yScale(value));
      }
    });
    path += " " + xScale(total_idx) + "," + 100 + " 0," + 100;
    return path;
  }
  
</script>

<svg>
  <!-- Path  -->
  <line
    x1={0}
    y1={100}
    x2={xScale(data["electricity"].length)}
    y2={100}
  />
  <path
    d={path(data["gas"], "gas", data["gas"].length)}
    fill="#ffff00"
    fill-opacity="1"
    stroke="#000000"
    stroke-opacity="1"
  />
  <path
    d={path(data["electricity"], "electricity", data["electricity"].length)}
    fill="#0000ff"
    fill-opacity="1"
    stroke="#000000"
    stroke-opacity="1"
  />
</svg>
