<script>
  // load in imports
  import Plot from "./_design_2_viz.svelte";
  import {onMount} from "svelte";
  import{json} from "d3-fetch";


  // Adjusting the sides and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  
  // Defining Constant Names
  const name = [{city: "Chicago",},
                {city: "Baltimore",},
                {city: "Los Angeles",}];

// Loading data
let data = null;
  onMount(async () => {data = await json("/data/daily_heating_cooling.json");
  });
// SVG below remains the same
</script>

<svg {width} {height}>
        <g transform="translate({margin.left}, {margin.top})">
        <!--  -->
       </g>
</svg>

{#if data}
{#each name as cities}
        <Plot data={data} {...cities}/>
{/each}
{:else}
        <p>Loading temperature data, please wait...</p>
{/if}

<style>

  svg {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 6px;
  }
</style>
