<script>
  let current = "";
</script>

<style>
  button:hover{
    background-color: green;}
</style>


<!-- We will cover buttons in week 7! -->
<button class="btn btn-secondary" on:click={() => (current = "messi")}>
  Messi
</button>

<button class="btn btn-secondary" on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class="btn btn-secondary" on:click={() => (current = "neymar")}>
  Neymar
</button>
