<script>
    const myobject = {name: 'Diego', things: 'guitar, sailing, rock-climbing...etc'};
</script>

<p> My name is {myobject.name}
    and these are some of my favorite things: {myobject.things}</p>
