<script>
  // Defining Properties
  export let data = [];
  export let ContinentPick = 'all';
  export let YearPick = 1800; // Reset Year
  const continents = ["Europe", "Asia", "Americas", "Africa"]; // Cleaning up format
  
  let Pause = true;
  let Clicker = false;

  var int = setInterval(()=> {
    if (Pause==false){
        if(YearPick == 2014) {YearPick = 1800}
        YearPick += 1;
        Clicker = true;}
      }
      ,80);

    function RESET(){
      YearPick = 1800;
    }
    function START() {
      Pause = false;
      Clicker = true;
    }
    function STOP() {
      Pause = true;
      Clicker = false;
    }

</script>

<div class="R1">
  <!--  -->
  <div class="C1">
    {#if !Clicker}
    <button type="button" class="btn btn-success" on:click={START}>Start</button>
    {:else}
    <button type="button" class="btn btn-danger" on:click={STOP}>Stop</button>
    {/if}
    <button type="button" class="btn btn-primary" on:click={RESET}>Reset</button>
</div>

<div class="C2">
  <label class="form-label"> Year: {YearPick}
    <input type="range" class="form-range" min="1800" max="2014" bind:value={YearPick}>
  </label>
  </div>

  <div class="C3">
    <select id="drop-down menu" class="form-select" bind:value={ContinentPick}>
      <option value="All Continents" selected="Selected">All Continents</option>
      {#each continents as name}
        <option>{name}</option>
      {/each}
    </select>

  </div>
</div>
