<script>
        var count = 0;
            function Clicked() {
                    count += 1
                    };
            function Resetting(){
                    count = 0
                    };
                    //Test
    </script>

<style>
        button {
         border: palevioletred;
         color: pink;
         font-size: 20px;}
       
</style>
    
    <button class="btn btn-primary" on:click={Clicked}>
                {count} Click(s)
    </button>
    
    <input class="btn btn-secondary" on:click={Resetting} type="button" value="Reset # of Clicks"> 








