<script>
  // Import from svelte (Note final animation only works when refresh page) Test2
  import {onMount} from "svelte";
  let intervId;
  // Dimensions (Provided)
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  let start;
    // Assigning Arrays (Provided)
    const points = [
      innerWidth / 2 - 60,
      innerWidth / 2 - 30,
      innerWidth / 2,
      innerWidth / 2 + 30,
      innerWidth / 2 + 60
    ];
    // Setting index for lights 
    let i = points.length;
    // Color
    let color = "darkred";
    
    function intervalSetter() {
        intervId = setInterval(changeColor, 1000);
    }
  
    function changeColor() {
        i -= 1;
          if (i < 0) {
             clearInterval()
             color = "darkgreen"
      }
    }
  
    start = true; // Assigned with start above
  
  </script>
  
  <style>

    .turn_off{opacity:0.3;}
    .turn_on{opacity:1;}

  </style>
  
  <svg viewBox="0 0 {width} {height}">
    <g transform="translate({margin.left},{margin.top})">
      <!-- svelte-ignore missing-declaration -->
      {#if start }
      {#each points as point, p}
      <circle 
      fill={color}
      r=15
      cy={innerHeight/2}
      cx={point} 
      class:turn_off="{p<i}"
      class:turn_on="{p>=i}"
      />
      {/each}
      {intervalSetter()}
      {/if}
    </g>
  </svg>
  
  