<script>
  // Import Session
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let data = null;
  let ContinentPick = 'All Continents';
  let YearPick = 1800;
  let filter_for_all;

  onMount(async () => {
    data = await json("/data/gapminder.json");
  });
// Defining Function to Extract 
  function extract(data, ContinentPick,YearPick){
    const filtered_year = data.filter(item => item.year == YearPick);
  if (ContinentPick == 'All Continents') {filter_for_all= filtered_year[0]['countries'];} 
  else {filter_for_all = filtered_year[0]['countries'].filter(item => item.continent == ContinentPick);};
 return filter_for_all
  }

</script>

{#if !data}
  <p>...</p>
{:else}
  <div>
    <Scatterplot data={extract(data, ContinentPick, YearPick)} />
    <Controls bind:YearPick= {YearPick} bind:ContinentPick={ContinentPick} {data} />
  </div>
{/if}
