<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array using scale functions d3 using logarithmic scale
  const values = [2, 4, 6, 7, 9];
  import {scaleLog} from 'd3-scale';
  const scale_x = scaleLog()
                .domain([1,10])
                .range([0,innerWidth]);
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <!--  -->
    <circle cx={scale_x(values[0])} cy=50 r=10 fill=green />
    <circle cx={scale_x(values[1])} cy=50 r=10 fill=green />
    <circle cx={scale_x(values[2])} cy=50 r=10 fill=green />
    <circle cx={scale_x(values[3])} cy=50 r=10 fill=green />
    <circle cx={scale_x(values[4])} cy=50 r=10 fill=green />
  </g>
</svg>
